{% extends "base.html" %}

{% block title %}
    <title>EPL Share Your Moments - Home</title>
{% endblock %}

{% block error %}
  {% for error in errors %}
  <p style="color:red">
  {{error}}
  </p>
  {% endfor %}
{% endblock %}

{% block page-body %}
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EPL Share Your Moments!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'teams' %}">Teams</a></li>
      <li><a href="{% url 'favorite_matches' %}">Matches</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logged in as {{ user.first_name }} {{ user.last_name }}</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Upcoming EPL Matches</h2>                          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Home</th>
        <th>Away</th>
        <th>Date</th>
        <th>Result</th>
        <th>Weather</th>
      </tr>
    </thead>
    <tbody>
      {% for fixture in fixtures %}
      <tr>
        <th>
          <a href="{% url 'view_teampage' fixture.htid %}">
          <img border="1" src="{% url 'get_picture' fixture.homeTeamId %}" class="img-thumbnail" width="50" height="50">
          {{fixture.homeTeamName}}
          </a>
        </th>
        <th>
          <a href="{% url 'view_teampage' fixture.atid %}">
          <img border="1" src="{% url 'get_picture' fixture.awayTeamId %}" class="img-thumbnail" width="50" height="50">
          {{fixture.awayTeamName}}
          </a>
        </th>
        <th>
          {{ fixture.date|date:"M d, Y h:iA O T" }}
        </th>
        <th>
          {% if fixture.status = 'FINISHED' %}
          {{fixture.result.goalsHomeTeam}} : {{fixture.result.goalsAwayTeam}}
          {% endif %}
        </th>
        <th>
          {% if fixture.weather_info.weather != Null %}
            <img src="/media/weather_icon/{{ fixture.weather_info.weather.0.icon }}.png" />
            {{ fixture.weather_info.main.temp }}&#8451;
          {% endif %}
        </th>
      {% endfor %}
    </tr>
    </tbody>
  </table>
</div>

<div id="mapid" class="leaflet-container leaflet-retina leaflet-fade-anim" style="width:700px; height:700px;margin:auto;" tabindex="0"></div>

<script>
var mymap = L.map('mapid', { zoomControl: false, attributionControl: false }).setView([54.5, -3.9], 6);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'lee910705.pij0a9dp',
    accessToken: 'pk.eyJ1IjoibGVlOTEwNzA1IiwiYSI6ImNpbWk2bWhibDAwNWJ2Zmt1NGt1eHJ6bXUifQ.V6sxmbi4F-1mwFVA5QpW6w'
}).addTo(mymap);
var circle = L.circle([{{gloclat}},{{gloclon}}], 500, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
}).addTo(mymap);
circle.bindPopup("Current Location");

{% for mark in markers %}
  var marker = L.marker([{{mark.lat}}, {{mark.lon}}]).addTo(mymap);
  marker.bindPopup("{{mark.msg}}");
{% endfor %}


//mymap.dragging.disable();
mymap.touchZoom.disable();
//mymap.doubleClickZoom.disable();
//mymap.scrollWheelZoom.disable();
//mymap.boxZoom.disable();
//mymap.keyboard.disable();
if (mymap.tap) mymap.tap.disable();
</script>

<div style="float:center">
  <h2>Current EPL Team Standings</h2>   
  <!-- Load jQuery -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Load Stats FC Table SDK -->
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//api.statsfc.com/widget/table-2.0.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, "script", "statsfc-table-js"));</script>

  <!-- Your league table here -->
  <div class="statsfc-table"
      data-key="s6htvQZ7w3f0xC_4ozAboMIpban4r2pt65xAc7bI"
      data-competition="EPL"
      data-table-type="full"
      data-show-badges="true"
      data-show-form="false"
      data-omit-errors="false"
      data-use-default-css="true">
  </div>
</div>

  <footer>
    <p>&copy; 2016 Carnegie Mellon University</p>
  </footer>

{% endblock %}


