/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Actor', sans-serif;
  font-weight: bold;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url("../../media/banner3.jpg");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #0FD9D3;
    text-shadow: black 0.1em 0.1em 0.1em;
    opacity: 0.8;
}
